# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep

# Frontend
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/.env
mobile/.env.local

# OS
.DS_Store
